@charset "utf-8";
/* CSS Document */

body{
	text-content:left;
	position:relative;
	margin: 0;
    padding: 0;
}

#container {
min-width: 400px; 
max-width: 100%; 
min-height: 750px; 
max-height: 100%; 
margin: 0 auto;
}
@media screen and (max-width: 800px) {
#container {
min-width: 100px; 
max-width: 100%; 
min-height: 450px; 
max-height: 100%; 
margin: 0 auto;
}
}
